#LandingPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.landing-page__url-input {
  margin-right: 10px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
  width: 350px;
}

.landing-page__url-input:focus {
  border-color: dodgerblue;
}

.landing-page__submit-button {
  width: 120px;
  height: 40px;
  text-align: center;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: rgb(3, 170, 31);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.landing-page__submit-button:hover {
  background-color: rgb(0, 255, 42);
  color: black;
}

.landing-page__url-container {
  display: flex;
  align-items: flex-end;
  height: 80px;
  padding: 20px;
}

.data {
  display: flex;
  flex-direction: column;
  height: 350px;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  padding-right: 7px;
}

.data .data-url {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  width: 500px;
  height: 50px;
  line-height: 50px;
  background-color: rgba(26, 25, 25, 0.836);
  border-radius: 3px;
  padding-right: 10px;
}

.data .long-url {
  width: 225px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.data .short-url {
  width: 225px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.data .copy-button {
  width: 60px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.data .copy-button i {
  font-size: 16px;
  color: gray;
}

.data .copy-button:hover i {
  color: black;
}

.data span {
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
  height: 10px;
  width: 70px;
  font-size: 10px;
  position: absolute;
  margin-bottom: -10px;
  margin-left: -20px;
  /* Set the z-index property to a high value to make the span element appear above other elements */
  z-index: 999;
  overflow: hidden;
  text-overflow: clip;
  line-height: 10px;
}

.data span:hover {
  background-color: darkgreen;
}

.data .analysis-button {
  background-color: transparent;
  border: none;
}

.data .analysis-button i {
  color: gray;
}

.data .analysis-button:hover i {
  color: black;
}

@media screen and (max-width: 600px) {
  .landing-page__url-container {
    width: 90vw;
  }
}
