.search-result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 500px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 10px;
}

.search-result-info {
  flex: 1;
}

.search-result-short {
  font-weight: bold;
}

.search-result-short a {
  text-decoration: none;
  user-select: all;
}

.search-result-short:hover a {
  color: #00ff00;
  transition: 0.3s ease-in-out;
}

.search-result-full {
  color: #333;
}

.search-result-full:hover a {
  color: #00ff00;
  transition: 0.3s ease-in-out;
}

.search-result-notes {
  font-style: italic;
}

.search-result-date {
  color: #999;
}

.search-result-action {
  display: flex;
  align-items: center;
}

.search-result-action button {
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.search-result-action .material-icons {
  color: skyblue;
  border: none;
  background-color: transparent;
}

.search-result-action .material-icons:hover {
  color: #00ff00;
  border: none;
  background-color: transparent;
}

@media screen and (max-width: 600px) {
  .search-result {
    width: 90vw;
    height: fit-content;
  }
}
